ul.videoanalytics-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.videoanalytics-menu li{
	float:left;
}

ul.videoanalytics-menu  li a {
 display: block;
    padding: 8px;
    background-color: #dddddd;
}

.wrap{
	clear:both;
}


div.log-list .legend{
	background-color: #aaa;
	font-weight: bold;
}

.log-list ul{
  display:none;
}
div.log-list ul{
	background-color: #aaa;
	font-weight: bold;
}

div.log-list li{
	background-color: #eee;
}

.vis-container {
	box-sizing: border-box;
	width: 950px;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.vis-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}
